@import url('./normalize.css'); 
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');

@import url('./banner.css');
@import url('./nav-menu.css');
@import url('./outer.css');
@import url('./content.css');

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(196, 234, 221);
    overflow-x: hidden;
}

div, header, nav {
    /* border: 1px dotted black; */
}

.b-bottom {
    border-bottom: 0.12rem dashed rgb(147, 163, 176); 
}

